@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Definição das variáveis para o tema claro */
:root {
  --background-color: #fafafa;
  --text-color: #000000;
  --primary-color: #bb904a;
  --primary-hover-color: #dbaf68;
  --secondary-color: #6c757d;
  --secondary-hover-color: #919ca7;
  --button-background-color: #5c6369;
  --button-text-color: #ffffff;
  --secondary-text-color: #aaa;
  --progress-active-color: rgba(243, 140, 22, 0.56);
  --progress-completed-color: rgba(40, 167, 70, 0.38);
  --progress-circle-color: #cccccca2;
  --input-background-color: #ffffff;
  --input-text-color: #000000;
  --input-border-color: #ced4da;
  --alert-background-color: #ffcc00;
  --alert-text-color: #856404;
  --icon-color: #6c757d;
  --icon-hover-color: #919ca7;
  --image-background: #0f0c29e5;
}

/* Definição das variáveis para o tema escuro */
.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb904a;
  --primary-hover-color: #dbaf68;
  --secondary-color: #919ca7;
  --secondary-hover-color: #b0b9c3;
  --button-background-color: #333333;
  --button-text-color: #ffffff;
  --secondary-text-color: #cccccc;
  --progress-active-color: rgba(243, 140, 22, 0.56);
  --progress-completed-color: rgba(40, 167, 70, 0.38);
  --progress-circle-color: #333333;
  --input-background-color: #1e1e1e;
  --input-text-color: #ffffff;
  --input-border-color: #555555;
  --alert-background-color: #444444;
  --alert-text-color: #ffffff;
  --icon-color: #cccccc;
  --icon-hover-color: #ffffff;
  --image-background: #0f0c29e5;
}

.main {
  height: 100% !important;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

/* Barra de Progresso */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  background-color: rgba(255, 255, 255, 0.185);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 0;
  border-radius: 10px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: rgba(0, 0, 0, 0.534);
}

.step {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: var(--progress-circle-color);
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.step p {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

.step.active .circle {
  background-color: var(--progress-active-color);
}

.step.completed .circle {
  background-color: var(--progress-completed-color);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.jumbotron {
  position: relative;
  color: var(--text-color);
  padding-top: 12rem !important;
  padding-bottom: 7.5rem !important;
  padding: 30px 0;
  text-align: center;
  z-index: 1;
  background: url('/assets/pets/vet/3.jpg') no-repeat center center;
  background-size: cover;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--image-background) !important;
  backdrop-filter: blur(1px);
  z-index: -1;
}

.jumbotron-heading {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.lead {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.container > p {
  color: var(--secondary-text-color) !important;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--button-text-color);
  border-radius: 5px;
  margin: 5px;
}

.primary {
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-hover-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.secondary:hover {
  background-color: var(--secondary-hover-color);
}

/* Estilos para os botões como checkboxes */
.checkbox-btn {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.checkbox-btn.selected {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

.checkbox-btn.selected:hover {
  background-color: var(--primary-hover-color);
}

.checkbox-btn:hover {
  background-color: var(--secondary-hover-color);
}

.container-materials {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Wave divider */
.wave-divider {
  position: relative;
  height: 10px;
  background: linear-gradient(to right, #0d2039, #193253, #c7b698);
}

.wave-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center center;
  background-size: cover;
}

/* Album section styles */
.album {
  padding: 50px 0;
  background-color: var(--background-color) !important;
}

.album .container {
  width: 100%;
  margin: 0 auto;
}

/* Container para o select e o input */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.select-wrapper {
  flex: 1;
}

.form-select {
  flex: 1;
  margin: 0;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
}

.input-wrapper {
  flex: 2;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-group-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 10px;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px 0 0 5px;
  height: 100%;
  box-sizing: border-box;
  color: var(--text-color);
}

.form-control {
  flex: 1;
  padding: 10px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
  height: 100%;
  box-sizing: border-box;

  /* Estilo para o texto do placeholder */
  &::placeholder {
    color: var(--input-text-color);
    opacity: 0.6; /* Ajuste a opacidade conforme necessário */
  }

  /* Estilos com prefixos para compatibilidade entre navegadores */
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--input-text-color);
    opacity: 0.6;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: var(--input-text-color);
    opacity: 0.6;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: var(--input-text-color);
    opacity: 0.6;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: var(--input-text-color);
    opacity: 0.6;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  .form-select,
  .input-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .input-group-text {
    border-radius: 5px;
  }

  .form-control {
    border-radius: 5px;
    margin-left: 0;
  }
}

.container {
  .row {
    .col-sm-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }

    .search-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}

.col-md-3 {
  min-width: 200px;
}

/* Estilos para o botão Back to Top */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 80px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 800;
}

#back-to-top:hover {
  background-color: var(--secondary-hover-color);
}

/* Estilos para versão mobile */
@media (max-width: 768px) {
  #back-to-top {
    bottom: 100px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .progress-container {
    width: 80px;
  }

  .circle {
    width: 25px;
    height: 25px;
  }

  .step p {
    font-size: 12px;
  }
}

.app-card-produto {
  width: 100%;
}

/* Alert */

.alert-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: var(--alert-background-color);
  color: var(--alert-text-color);
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--text-color);
  opacity: 0.5;
}

.btn-close:hover {
  color: var(--text-color);
  opacity: 0.75;
}

/* Estilo para o ícone de informação */
.bi-info-circle {
  font-size: 0.9em;
  margin-left: 10px;
  cursor: pointer;
  color: var(--icon-color);
}

.bi-info-circle:hover {
  color: var(--icon-hover-color);
}
