<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="index.html"><img src="assets/pets/logo.png" width="200px" height="60px" alt="DomuCabinets Logo" title="DomuCabinets"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/home" alt="Home" title="Home">PÁGINA INICIAL</a></li>
        <li><a class="nav-link scrollto" href="/produtos" alt="Home" title="Home">PRODUTOS</a></li>

        <!-- <li><a class="nav-link scrollto" href="/materials" alt="Materials" title="Materials">Materials</a></li> -->


        <li><a class="nav-link" href="https://www.instagram.com/domucabinets_usa/" target="_blank" alt="Instagram" title="Instagram - @domucabinets_usa"><i class="bi bi-instagram"></i></a></li>
        <li><a class="nav-link" href="https://www.facebook.com/domucabinets" target="_blank" alt="Facebook" title="Facebook - DomuCabinets"><i class="bi bi-facebook"></i></a></li>
        <li *ngIf="!userLogado"><a class="getstarted" href="/login" alt="Request Quote" title="Products/Request Quote">LOGIN</a></li>
        <li *ngIf="userLogado"><a class="getstarted" href="/painel" alt="Request Quote" title="Products/Request Quote">AGENDAMENTOS</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" alt="Menu Navigation" title="Menu Navigation" (click)="toggleMobileNav()"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
